1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [19]:
string1 = "Python is a programming language"
print(string1)

Python is a programming language

2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.


What will be the data type of the above given variable.

In [7]:
var1 = ''
print(var1)
print(type(var1)) 

var2 = '[ DS , ML , Python]'
print(var2)
print(type(var2))

var3 = ['DS', 'ML', 'Python']
print(var3)
print(type(var3))

var4 = 1
print(var4)
print(type(var4))

<class 'str'>
[ DS , ML , Python]
<class 'str'>
['DS', 'ML', 'Python']
<class 'list'>
1
<class 'int'>

3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [1]:
x = 12
y = 3
print(x / y)

x = 5
y = 2
print(x % y)

x = 15
y = 2
print(x // y)

x = 2
y = 5
print(x ** y)

4.0
1
7
32

4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [4]:
my_list = [1, 2, 3.14, "Sneha", [3,4,5], "Sharma", 4+5j, 29.6, "PWSKILLS", 29]

for l1 in my_list:
    print(l1)
    print(type(l1))

1
<class 'int'>
2
<class 'int'>
3.14
<class 'float'>
Sneha
<class 'str'>
[3, 4, 5]
<class 'list'>
Sharma
<class 'str'>
(4+5j)
<class 'complex'>
29.6
<class 'float'>
PWSKILLS
<class 'str'>
29
<class 'int'>

5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
A = 12
B = 4

count = 0  
while A % B == 0:
    A = A // B 
    count += 1  
if count > 0:
    print(f"{A} is divisible by {B} and it can be divided {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

3 is divisible by 4 and it can be divided 1 times.

6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [10]:
numbers = [2, 9, 17, 4, 27, 33, 10, 8, 14, 21, 5, 12, 19, 22, 1, 15, 11, 7, 25, 36, 30, 16, 20, 3, 6]

for number in numbers:
    if number % 3 == 0:
        print(f"{number} is divisible by 3.")
    else:
        print(f"{number} is not divisible by 3.")

2 is not divisible by 3.
9 is divisible by 3.
17 is not divisible by 3.
4 is not divisible by 3.
27 is divisible by 3.
33 is divisible by 3.
10 is not divisible by 3.
8 is not divisible by 3.
14 is not divisible by 3.
21 is divisible by 3.
5 is not divisible by 3.
12 is divisible by 3.
19 is not divisible by 3.
22 is not divisible by 3.
1 is not divisible by 3.
15 is divisible by 3.
11 is not divisible by 3.
7 is not divisible by 3.
25 is not divisible by 3.
36 is divisible by 3.
30 is divisible by 3.
16 is not divisible by 3.
20 is not divisible by 3.
3 is divisible by 3.
6 is divisible by 3.

7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans. Mutable :- An object that allows you to change its values without changing its identity is a mutable object.
       Some of the mutable data types in Python are list, dictionary, set.
     Immutable :- An object that doesn’t allow changes in its value is an immutable object.
       Some of the immutable data types are int, float, decimal, bool, string, tuple, and range.

In [16]:
# MUTABLE DATA TYPE
print('MUTABLE DATA TYPE')

# LIST
my_list = [1, 2, 3, 4]
my_list[2] = 5 
print("LIST")
print(my_list) 

# DICTIONARY
my_dict = {"name": "John", "age": 30}
my_dict["age"] = 31  
print("DICTIONARY")
print(my_dict)

# SET
my_set = {1, 2, 3}
my_set.add(4) 
print('SET')
print(my_set) 


# IMMUTABLE DATA TYPE
print('IMMUTABLE DATA TYPE')


int_ = 25  
print('The memory address of int before updating: ', id(int_))  
int_ = 35  
print('The memory address of int after updating: ', id(int_))

MUTABLE DATA TYPE
LIST
[1, 2, 5, 4]
DICTIONARY
{'name': 'John', 'age': 31}
SET
{1, 2, 3, 4}
IMMUTABLE DATA TYPE
The memory address of int before updating:  139911630210032
The memory address of int after updating:  139911630210352